:root {
    --bg: #FDDDC4FF;
    --surface-1: #ffffff;
    --surface-2: #f3f3f3;
    --text-primary: #1b1b1b;
    --text-secondary: #4a4a4a;
    --border: rgba(0,0,0,0.12);
    --nav-bg: rgba(35, 35, 35, 1);
}

[data-theme="dark"] {
    --bg: #141414;
    --surface-1: #1d1d1d;
    --surface-2: #262626;
    --text-primary: #f3f3f3;
    --text-secondary: #c4c4c4;
    --border: rgba(255,255,255,0.12);
    --nav-bg: rgba(20, 20, 20, 1);
}

body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    margin: 0;
    padding: 0;
    width: 300px;
    min-width: 300px;
    background-color: var(--bg);
    -webkit-app-region: drag;
}

html {
    background: transparent !important;
    border-radius: 12px;
}

.app {
    width: 300px;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

header h1 {
    font-size: 18px;
    margin: 0 0 0px 0;
}

main {
    display: block;
    margin: 0;
    padding: 0;
    background-color: transparent !important;
}

.card {
    background: var(--surface-1);
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}


.nav-container {
    position: absolute;
    top: 425px;
    left: 12px;
    display: flex;
    flex-direction: row;
    gap: 0;
    background: var(--nav-bg);
    padding: 8px 12px;
    border-radius: 20px;
    height: 50px;
    width: calc(300px - 24px);
    z-index: 10;
    border: 0px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}

.nav-button {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease;
    color: rgba(255, 255, 255, 0.7);
    z-index: 20;
    position: relative;
    margin: 0;
}

.nav-button:hover {
    transform: scale(1.1);
    color: white;
}

.nav-button.active {
    color: white;
    transform: scale(1.3);
    background: rgba(255, 255, 255, 0.1);
}